

<nav class="navbar" id="topNav">
    <a href="/">Home</a>
    <a href="/private/trips/add">Add a new Trip</a>
     <a href="/private/trips">Trips</a>
     <a href="/private/profile">Profile</a>
     <a href="/auth/logout" id="logout">Logout</a>
    <a href="/auth/login" id="login">Login</a>
    <a href="/auth/signup" id="signup">Signup</a>
</nav>


