
<div id="navbar-box">
    
<nav class="navbar" id="sideNav">
        <a href="/"> <img src="" alt=""> </a>
        <a href="/private/trips/add">Add a Trip</a>
        <a href="/private/trips">Trips</a>
        <a href="/private/profile">Profile</a>
        <a href="/auth/logout" id="logout">Logout</a>
        <a href="/auth/login" id="login">Login</a>
        <a href="/auth/signup" id="signup">Signup</a>
    </nav>
</div>


