
<div id="navbar-box">
    <a href="/" id="sideLogo"><img src="../images/navbar/SumLogo.png " alt="logo" /></a> 
<nav class="navbar" id="sideNav">
        <div id="frame"> 
        <a href="/private/trips">Trips</a>
        <a href="/private/profile">Profile</a>
        <a href="/private/trips/add">Add a Trip</a>
        <a href="/auth/logout" id="logout">Logout</a>
        </div>
    </nav>
    <a href="/auth/login" id="login" id="login">Login</a>
    <a href="/auth/signup" id="signup">Signup</a>
</div>


