<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h1>Log in form</h1>


<form action="/auth/login" method='POST'>

  <label>Username:</label>
  <input type="text" name="username" required />

  {{!-- <label>Email: </label>
  <input type="email" name="email" required /> --}}

  <label>Password:</label>
  <input type="password" name="password" required />

  <button type="submit">Log in</button>
</form>


{{!-- <a href="/auth/signup"><button>SIGNUP</button></a> --}}


{{!-- <a href="/auth/login"><button>LogIn</button></a> --}}

{{!-- <ul>
{{#each users}}
<li>User: {{ this.username}}</li>
{{/each}}
</ul> --}}