
  <div id="mainpage">
      <img src="../images/SumLogo.png" alt="logo"  />
    <div id="getstartet-conteiner">
      <h2 id="mainText">Track your group holiday expenses in one place </h2>
      <a href="/auth/signup" id="getStartet" >Get started<a/>
   </div>
  </div >

