
  <div id="mainpage">
    <img src="../images/SumLogo.png" alt="logo"  />
    <div id="getstartet">
    <h1>Track your group holiday expenses in one place </h1>
    <a href="/auth/login" id="getStartet" >Get startet</a>
    </div>
  </div >
  





