@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  
  width: 1920px;
  height: 900px;
  background: #85A5FF;

  
}

#navbar-box {
  background-color: #434343;
  width: 236px;
  height: 900px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}



#sideNav {
  position: absolute;
  left: 30.08%;
  right: 28.39%;
  top: 15%;
  bottom: 34.11%;
  background-color: #434343;

}



#frame a {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

position: static;
width: 110px;
height: 44px;
left: 35px;
top: 152px;


/* Inside Auto Layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 32px 0px;
font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
}

#sideLogo{
  position: absolute;
  left: 25%;
  right: 29.66%;
  top: 3%;
  bottom: 80.89%;
}
 


#login{
  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5px 16px;

position: absolute;
left: 5%;
right: 18.22%;
top: 60%;
bottom: 21.67%;

background: #CCDC68;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
width: 151px;
height: 40px;
border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #282828;
}

#signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;

  position: absolute;
  width: 151px;
  height: 40px;
  border-radius: 4px;
  left: 5%;
  right: 18.22%;
  top: 68%;
  bottom: 21.67%;
  background: #85A5FF;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius:f 4px;
  font-family: Roboto;
  font-style: normal;
   font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #282828;
}
  



 #loginForm{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: flex-end;
 }

 #mainpage{
  
  position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    width: 900px;
    height: 900px;
    left: 650px;
  
 }

 #getstartet{

  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-between;
 } 

 
#mainText{


width: 339px;
height: 80px;

font-family: Roboto;
font-style:normal;
font-weight: 500;
font-size: 30px;
line-height: 40px;

text-align: center;
color: #FAFAFA;
}

#getstartet-conteiner{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;

}


  #getStartet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 8px 16px;
    position: static;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #CCDC68;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 4px;
    width: 267px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin: 8px 0px;
    text-decoration: none;
    left: 50px;
    align-content: center;
    flex-wrap: nowrap;
}

#logout {
  display: none;
 } 